week-8/bookschema.xsd

<?xml version="1.0"?>
<xsd:schema  version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="bookstore">
        <xsd:complexType>
        	<xsd:element name="book">
        	<xsd:complexType>
        		<xsd:element name="id" type="xsd:string"/>
        		<xsd:element name="title" type="xsd:string"/>
				<xsd:element name="author" type="xsd:string"/>
				<xsd:element name="price" type="xsd:string"/>
			</xsd:complexType>
		</xsd:element>
		</xsd:complexType>
		</xsd:element>
</xsd:schema>

