week-8/Copy of example.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
<xsd:element name="employee">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="id" type="xsd:string"/>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="salary" type="xsd:string"/>



</xsd:sequence>
</xsd:complexType>
</xsd:element>

</xsd:schema>

